* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: ubunto;
  src: url("./fonts/UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: heaters;
  src: url("./fonts/Heaters.otf");
}

@font-face {
  font-family: merriweather;
  src: url("./fonts/Merriweather-Black.ttf");
}

@font-face {
  font-family: tunning;
  src: url("./fonts/Tunning-OxideBold.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.badge.badge-light {
  color: yellow;
}

.badge.badge.badge-pill.badge-primary {
  color: yellow;
}

.accepted {
  font-family: "ubunto";
  color: rgba(40, 40, 40, 0.858);
  padding-top: 20px;
  font-weight: 1000;
}

.form-group {
  padding: 10px;
}

.logo {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.logo2 {
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2), 6px 6px 10px 6px rgba(0, 0, 0, 0.19);
}

.loginform {
  position: relative;
  top: 150px;
}

.logo.rounded-circle {
  display: flex;
  justify-content: center;
}

.signupform {
  position: relative;
  top: 100px;
}

.btn.btn-dark.btn-lg.btn-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: ubunto;
  src: url("./fonts/UbuntuMono-Regular.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.copyright {
  font-family: "tunning";
  padding-top: 12px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: rgba(58, 58, 58, 0.762);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.image1 {
 

} */

.title {
  padding-left: 5px;
  font-family: "tunning";
  font-size: 35px;
  color: rgba(250, 235, 215, 0.858);
}

@media screen and (max-width: 575px) {
  .title {
    display: none;
  }
}
@media screen and (min-width: 575px) {
  .login-row {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (min-width: 991px) {
  .login-row {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media screen and (max-width: 766px) {
  .login-row {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 766px) {
  .booking {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 575px) {
  .signup-row {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (min-width: 991px) {
  .signup-row {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media screen and (max-width: 766px) {
  .signup-row {
    padding-left: 50px;
    padding-right: 50px;
  }
  .booking {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 560px) {
  .booking {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.use.btn.btn-white {
  font-size: 15px;
}

@media screen and (min-width: 575px) {
  .signup-row {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (min-width: 991px) {
  .signup-row {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media screen and (max-width: 766px) {
  .signup-row {
    padding-left: 50px;
    padding-right: 50px;
  }
  .booking {
    padding-left: 75px;
    padding-right: 75px;
  }
}
.small {
  color: rgba(80, 53, 215, 0.865);
}
@media screen and (min-width: 560px) {
  .booking {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.use.btn.btn-white {
  font-size: 15px;
}

.pickup1 {
  padding-top: 20px;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.outer .form-control:focus {
  border-color: #ee1e1e;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.profile-title {
  font-family: "tunning";
  font-size: 35px;
  color: #2e2e2e;
}

/*  Profile Left  */

.p-5.card {
  color: #2e2e2e;
  background-image: linear-gradient(0deg, rgba(194, 126, 8, 0.604), rgba(182, 156, 110, 0.604));
  border-style: solid;
  border-color: rgba(94, 94, 94, 0.584);
}

.p-4.col {
  background-color: #9b782d6e;
}

.profile-box.col {
  border-style: solid;
  border-color: rgb(225, 225, 225);
  border-radius: 15px;
  background-image: linear-gradient(360deg, rgba(225, 225, 225, 0.413), rgba(184, 184, 184, 0.42));
}

.rating-box.card-body {
  background-image: linear-gradient(360deg, rgba(194, 126, 8, 0.345), rgba(181, 176, 38, 0.509));
}

.profile-bottom.card {
  background-color: #bfaa7d87;
}
.booking-title {
  font-family: merriweather;
  color: rgba(62, 20, 3, 0.728);
}

.border.card-body {
  background-image: linear-gradient(180deg, rgba(191, 194, 8, 0.344), rgba(232, 18, 18, 0.488));
}

.pt-4.username {
  margin-top: 5px;
}

.padding-booking {
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}
.name-profile {
  font-family: merriweather;
  font-size: 35px;
}

.submit-modal.btn.btn-primary {
  font-size: 17px;
}

.rounded-circle {
  border: 7px solid rgb(210, 210, 210);
}
/* Profile Right  */

.progress2.list-group-item {
  background-color: rgba(250, 235, 215, 0);
  border-style: none;
}

.job-box.list-group-item {
  background-image: linear-gradient(360deg, rgba(17, 5, 77, 0.344), rgba(210, 210, 210, 0.488));
}

.job-box2.list-group-item {
  margin: 2px;
  background-image: linear-gradient(360deg, rgba(208, 124, 94, 0.721), rgba(210, 210, 210, 0.488));
}
/* More Details Button*/
.m-2.btn.btn-primary.btn-sm {
  background-image: linear-gradient(360deg, rgba(17, 5, 77, 0.344), rgba(210, 210, 210, 0.488));
}
.link.text-white {
  font-size: 15px;
  font-family: ubunto;
}

.pt-2.completed.col {
  background-image: linear-gradient(180deg, rgba(191, 194, 8, 0.344), rgba(232, 18, 18, 0.488));
}

.custom-control-label {
  font-weight: 400;
}

.p-5.card {
  border-radius: 10px 10px 0 0;
}

.profile-bottom.card {
  padding: 25px;
  border-radius: 0 0 10px 10px;
}

.jobs-title {
  position: relative;
  padding: 20px;
  top: 90px;
  font-family: merriweather;
  color: rgba(62, 20, 3, 0.728);
}

.jobsForm {
  display: flex;
  justify-content: center;
}

.forgot-password,
.forgot-password a {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  /* color: #7f7d7d; */
  margin: 0;
}

.login1.nav-link {
  position: fixed;
  right: 80px;
  top: 16px;
  color: rgba(250, 235, 215, 0.858);
}

.signup1.nav-link {
  position: fixed;
  right: 5px;
  top: 16px;
  color: rgba(250, 235, 215, 0.858);
}

.signup1.nav-link:hover {
  color: yellow;
}
.login1.nav-link:hover {
  color: yellow;
}

.jobForm {
  display: flex;

  padding: 10px;
  justify-content: center;
}

.map-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.details-map {
  padding-bottom: 50px;
  padding-top: 0px;
}

.nav-align {
  display: flex;
  justify-content: space-evenly;
}

.font1.btn.btn-danger {
  font-family: "ubunto";
  font-size: 19px;
  color: rgba(250, 235, 215, 0.707);
}

.row1 {
  justify-content: center;
  display: flex;
}
.row7 {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.profileForm {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.profilecard.card {
  background-color: rgba(198, 94, 94, 0.324);
  margin-top: 40px;
  margin-bottom: 20px;
}

.p-4.details.card {
  border-style: none;
}

.profile2Form {
  padding-bottom: 20px;
}
.description1 {
  font-size: 15px;
}

/* edit profile
.edit {
  position: absolute;
  margin-left: 85%;

  height: 40px;
  width: 40px;
  font-size: 1px;
  background-image: url("../src/images/pencil_icon.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(237, 11, 11, 0.947);
  opacity: 0.7;
} */

.error-text {
  color: #ee1e1e;
  margin-left: 5%;
}

.rating-box {
  background-color: blue;
}
/* edit profile end */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.progress2 {
  font-size: 15px;
}

.profilejob {
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.map-info {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.your-location {
  background-color: blue;
}

.badge.badge.badge-pill.badge-primary {
  position: relative;
  padding: 0px;
  bottom: 8px;
}

.list-group-item {
  font-size: 15px;
}

.progress2 {
  font-size: 15px;
}

body {
  width: auto;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: sans-serif;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #eb9335, #ceed07); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f64f59, #eb9335, #ceed07); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.names {
  font-family: "ubunto";
  font-size: 12px;
  font-weight: 300;
}

body,
html,
.App,
#root,
.outer {
  width: 100%;
  height: 100%;
}
.nav3.container {
  margin: 0px;
}

.bookingForm {
  padding-top: 90px;
  padding-bottom: 20px;
}
.nav2.nav-link {
  display: flex;
  justify-content: center;
}
.logintitle {
  text-align: center;
}

.badge.badge-light {
  color: yellow;
}

.logout {
  color: rgba(250, 235, 215, 0.858);
}

.form-control {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 575px) {
  .login2.nav-link {
    display: none;
  }
}

@media screen and (min-width: 575px) {
  .signup2.nav-link {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .login1.nav-link {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .signup1.nav-link {
    display: none;
  }
}

.logsign {
  font-family: "ubunto";
  padding-top: 35px;
}

.home {
  padding-top: 100px;
  font-family: "tunning";
  color: rgb(58, 58, 58);
  font-size: 65px;
}

.stars {
  font-size: 45px;
  display: flex;
  justify-content: center;
}
.subtitle {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  font-family: "ubunto";
  font-size: 15px;
  color: rgb(63, 63, 63);
}

.badge.badge.badge-pill.badge-primary {
  color: yellow;
}

.btn.btn-btn.btn-success {
  margin-top: 30px;
}

.footer {
  padding-top: 20px;
  font-size: 10px;
  font-family: "ubunto";
}
.checkout-form {
  padding-top: 40px;
}
.activedelivery {
  font-weight: 700;
  font-size: 20px;
  font-family: "ubunto";
}

.active9 {
  font-weight: 700;
  padding-top: 35px;
  font-size: 20px;
  font-family: "ubunto";
}
.completed {
  font-weight: 700;
  padding-top: 20px;
  font-size: 20px;
  font-family: "ubunto";
}

.link4 {
  color: rgb(32, 47, 210);
}

ul {
  list-style-type: none;
}

.modalbody {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(199, 150, 25, 0.934), rgba(222, 44, 13, 0.502));
}

.preview {
  height: 40px;
  width: 40px;
}

.editprofile {
  background-color: rgba(194, 28, 28, 0.817);
  color: rgb(227, 227, 227);
  font-size: 30px;
  font-family: "ubunto";
  padding: 20px;
  display: flex;
  justify-content: center;
}

.modal-button {
  padding: 10px;
  margin-left: 23px;
}
.modal-footer {
  display: flex;
  background-color: rgba(194, 28, 28, 0.817);
}

.mb-3 {
  display: flex;
  justify-content: center;
}
.savebutton {
  font-size: 15px;
}

.modalbody.modal-body {
  padding: 0px;
}

.currentjob {
  padding-top: 100px;
}

.goback {
  color: white;
  text-decoration: none;
}

.link {
  color: rgb(55, 55, 55);
  font-family: "ubunto";
  text-decoration: none;
}
.button6 {
  padding-top: 20px;
  box-shadow: 3px 3px 3px 3px rgba(46, 46, 46, 0.536);
}

.row5 {
  padding-top: 5px;
}

.form-group6 {
  display: flex;
  justify-content: center;
}

.row7 {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: ubunto;
  src: url("./fonts/UbuntuMono-Regular.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.copyright {
  font-family: "tunning";
  padding-top: 12px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: rgba(58, 58, 58, 0.762);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.image1 {
 

} */
